<!DOCTYPE html>
<html>
<head>
  <title>Hello, I'm Ethan Cho.</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div id="banner">
      <img src="/images/MUNZIE.png" alt="" id="banner-img">
      <a href="/" id="mainpage-link">Hello</a>
      <a href="/blog" id="blogpage-link">Blog</a>
  </div>
  <div class="postList">
    <table>
      <thead>
        <tr>
          <th scope="col">제목</th>
          <th scope="col">등록일</th>
        </tr>
      </thead>
      <% posts.forEach(data => { %>
        <tr>
          <td class="textLeftAlign">
            <a href="/viewpost?postid=<%=data.PostID%>">
              <%=data.Title%>
            </a>
          </td>
          <td>
            <% //data.Created_at = helper.formatDate(data.Created_at); %>
            <%=data.Created_at %>
          </td>
        </tr>
      <% }); %>
    </table>
  </div>
</body>
</html>
